
#toggol{
    position: relative;
    display: inline-block;
    background-color:white;
}

div #profile{
   margin: auto;
   display: flex;
   height:300px;
   width: 20%;
   padding: 10px;
   margin-top: 30px;
   background-image: url(image/final.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   
}
@media screen and (max-width: 1230px) {
   div #profile{
      margin: auto;
      position: relative;
      display: flex;
      height:150px;
      width: 20%;
      padding: 10px;
      margin-top: 30px;
      background-image: url(image/final.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
   }
}
@media screen and (max-width: 600px) {
   div #profile{
      margin: auto;
      position: relative;
      display: flex;
      height:100px;
      width: 20%;
      padding: 10px;
      margin-top: 30px;
      background-image: url(image/final.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
   }
}
 .name {
    text-align: center;
 }

 .toggle{
    position: relative;
    display: inline-block;
    width:50px;
    height:26px;
    border-radius: 18px;
    border: 2px solid darkgray;
    background-color: black;
 }

 
 .toggle:after{
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: rgb(174, 157, 157);
    top: .02px;
    left:.02px;
    transition: all 0.5s;
 }
 .checkbox:checked + .toggle::after{
    left:25px;
 }
 .checkbox:checked + .toggle{
    background-color: rgb(239, 233, 233);
 }
 .checkbox{
    display: none;

 }
body{
    background-color: white;
    color:rgb(10, 3, 3);
}
.darkMode{
background-color: rgb(50, 48, 48);
color:white;
}

div #Introduction{
   position: relative;
   margin: auto;
   height: 50px;
   width: 100px;
   border-radius: 50%;
   background-color: bisque;

}


.bd-navigation{
  width: 20%;
  height: 480px;
  display: inline-flex;
}
@media screen and (max-width: 767px) {
   .bd-navigation{
      padding-left: 25px;
         width:90%;
         height:480px;
         text-align: center;
      }
   }

.bd-display{
   width:78%;
   /* height: 800px ; */
   
}
@media screen and (max-width :608px){
   div.bd-display{
      width: 100%;
   }

}
.bd-footer{
   width: 100%;
   height: 200px;
   background: rgb(7,14,27);
   background: linear-gradient(0deg, rgba(7,14,27,1) 5%, rgba(147,158,187,1) 50%, rgba(215,229,237,1) 100%);
   display: flex;
   justify-content: center;
   align-items: center;

}
.certification {
   display: inline-block;
   height: auto;
}

 .java{
   width: 100%;
}
.education{
   width: 100%;
   height: 100px;
   background-color: red;

}
.containerofContact{
   position: absolute;
   display: inline-flex;
  

}
.myEmail{
   display: none;
  
}
.forHover:hover + .myEmail{
   text-indent: -40px;
   display: block;
   font-size: small;
}
.myPhone{
  display: none;
}
.hoverPhone:hover +.myPhone{
   text-indent: -10px;
   display: flex;
   font-size: small;
}
.myFacebook{
   display: none;
}
.hoverFacebook:hover + .myFacebook{
   text-indent: -10px;
   display: flex;
   font-size: small;
}
.myInstagram{
   display:none;
}
.hoverInstagram:hover + .myInstagram{
   text-indent: -15px;
   display: flex;
   font-size: small;
}
#naa:hover{
   color:antiquewhite;
   background: rgb(69,64,73);
background: linear-gradient(90deg, rgba(69,64,73,1) 0%, rgba(147,126,126,1) 34%, rgba(166,128,117,1) 62%, rgba(185,154,146,1) 81%, rgba(215,202,182,1) 100%);}


